<div class="container">
    <div class="row">
        <div class="col-lg-2">&nbsp;</div>
        <div class="col-lg-8">Telephone Book Application</div>
        <div class="col-lg-2">&nbsp;</div>
    </div>
<div class="container">
<dic class="row">
    <div class="col-lg-2">
        &nbsp;
    </div>
    <div class="col-lg-8">
<form class="form-horizontal" method="post" action="/addUser">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name"> Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="UserName" placeholder="Enter Your Name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="address" >Address:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="address" name="UserAddress" placeholder="Enter your Address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10"> 
      <input type="email" class="form-control" id="email" name="UserEmail" placeholder="Enter your Email Address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="telephone">Telephone:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="telephone" name="UserTelephoneNumber" placeholder="Enter your Telephone Number">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
    </div>
    <div class="col-lg-2">
        &nbsp;
    </div>
</dic>
</div>   
<div class="container">
<div class="col-lg-2"> &nbsp;</div>
<div class="col-lg-8">
<form class="form-horizontal" method="post" action="/search">
  <div class="form-group">
    <label class="control-label col-sm-2" for="search"> search:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="search" name="search" placeholder="Search your Name">
    </div>
  </div>
   <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>
  
  </form>
</div>
<div class="col-lg-2"> &nbsp;</div>

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2">&nbsp;</div>
        <div class="col-lg-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Telephone Number</th>
                    <th>Action </th>

                    </tr>
                   
                </thead>
                <tbody> 
                    {{#each users}}
                    <tr>
                        <td>{{this.UserName}}</td>
                        <td>{{this.UserEmail}}</td>
                        <td>{{this.UserAddress }}</td>
                        <td>{{this.UserTelephoneNumber }} </td>
                        <td><input type="button" value="Edit" class="btn btn-primary"> | <input type="button" value="Delete" class="btn btn-danger">  </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-lg-2">&nbsp;</div>
    </div>
</div>